<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{quiz.name}}">
  <ion-content class="padding">
    <h2>{{quiz.name}}</h2>

    <!-- user Email input view -->
    <form name="myForm" ng-if="!hasUserEmail">
      <label>Please input your email address:</label>
      <input name="email" type="email" ng-model="userQuiz.userEmail" required>
      <div role="alert">
        <span ng-show="myForm.email.$dirty && myForm.email.$error.required && myForm.email.$error.email" role="alert">Email is required</span> 
        <span class="error" ng-show="myForm.email.$error.email">
          Not valid email!</span>
      </div>
      <button ng-disabled="myForm.$invalid" ng-click="submitEmail()">Submit</button>
    </form>

    <!-- quiz questions view -->
    <ion-list ng-if="hasUserEmail">
      <div class="list card" ng-repeat="question in quiz.questions">
        <h4>{{question}}</h4>
        <div class="item item-body" ng-repeat="option in quiz.options[$index]" ng-if="$index > 0">
          <ion-checkbox ng-selected="userQuiz.selection[$parent.$parent.$index]" ng-checked="userQuiz.selection[$parent.$parent.$index] == option" ng-click="updateSelected(quiz, $parent.$parent.$index, option)">
            {{option}}
          </ion-checkbox>
        </div>
      </div>
    </ion-list>
    <button ng-click="submit(false)" ng-disabled="incomplete" ng-if="hasUserEmail">Submit only</button>
    <button ng-click="submit(true)" ng-disabled="incomplete" ng-if="hasUserEmail">Submit and Email the result to me</button>
  </ion-content>
</ion-view>
